<!--The content below is only a placeholder and can be replaced.-->
<div class="example-config">
  <button kendo-button (click)="pdf.saveAs('invoice.pdf')">
    Save As PDF...
  </button>
</div>

<kendo-pdf-export #pdf paperSize="A4" margin="2cm">


<div>
  {{ title }}

  <button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>
</div>

<div>
  <kendo-datepicker [value]="value"></kendo-datepicker>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Default Button</p>
    <p class="k-block">
      <kendo-dropdownbutton [data]="data">
        User Settings
      </kendo-dropdownbutton>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Primary Button</p>
    <p class="k-block">
      <kendo-dropdownbutton [data]="data" [primary]="true">
        User Settings
      </kendo-dropdownbutton>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Outline Button</p>
    <p class="k-block">
      <kendo-dropdownbutton [data]="data" [look]="'outline'">
        User Settings
      </kendo-dropdownbutton>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Bare Button</p>
    <p class="k-block">
      <kendo-dropdownbutton [data]="data" [look]="'bare'">
        User Settings
      </kendo-dropdownbutton>
    </p>
  </div>
</div>

<div class="example">
  <div class="img" [ngStyle]="{ 'background-color': currentColor }"></div>
  <div class="wrapper">
    <kendo-colorgradient
      [(value)]="currentColor"
    >
    </kendo-colorgradient>
  </div>
</div>

<div>
  <kendo-numerictextbox
    [min]="0" [max]="100">
  </kendo-numerictextbox>
</div>

<div>
  <kendo-slider
    [fixedTickWidth]="10"
    [min]="0"
    [max]="100"
  ></kendo-slider>
</div>

<div>
  <kendo-switch></kendo-switch>
</div>

<div>
  <button class="k-button" (click)="show()">Notification button</button>
</div>

</kendo-pdf-export>

<div>
  <kendo-combobox [data]="listItems"></kendo-combobox>
</div>


<router-outlet></router-outlet>
